body {
    font-family: sans-serif;
}

.loginbox{
  width: 250px;
  position: absolute;
  top: 30%;
  right: 35%;
  padding: 30px;
  border: black;
}

.loginbox h1 {
border-bottom: brown;
}

input , button{
    width: 50%;
    font-size: 20%;
    right: 35%;
    padding: 8px 0;
    border-bottom: 1px solid brown;
}

