:root {
    --main-color: #00ADB5;
    --main-color-dark: #00888e;
    --main-white: #eeeeee;
}

.navbar {
    background-color: #333333;
}

ul{
list-style-type: none;
margin: 0%;
padding: 0%;
overflow: hidden;
}

li{
    float: left;
}

li a{
    display: block;
    color: var(--main-color);
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li a:hover{
    color: var(--main-color-dark);
   
}
.navbar-brand {
    font-weight: bold;
    color: var(--main-white)
}
